@using Codecool.CodecoolShop.ViewModels
@model Codecool.CodecoolShop.ViewModels.OrderVM;
@{
    ViewData["Title"] = "Order Details";
}

@*<div style="display: flex">
    <ul class="container">
@*        @foreach (var productId in Model.products.Keys)
        {
            Product product= products.Dao().Get(productId);

            <li class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
                <div class="card">
                    <img src="/img/@(product.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name dummy name</h5>
                        <p class="card-text">@product.Description dummy description</p>
                        <p class="card-text">Category: @product.ProductCategory.Department dummy department</p>
                        <p class="card-text">Supplier: @product.Supplier.Name dummy supplier name</p>
                        <p class="card-text text-center"><strong>Price: @product.DefaultPrice.ToString("C2") dummy price</strong></p>
                        <a href="" type="button" class="btn btn-primary" style="float: bottom">-</a>
                        <a href="" type="button" class="btn btn-primary" style="float: bottom">+</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>*@
<div>
        @foreach (OrderedProduct prod in Model.products)
        {
                <div class="card">
                    <div class="card-body" style="display: flex">
                        <div>
                            <img src="/img/@(prod.product.Name).jpg" style="height: 300px; width: 300px; padding: 10px">
                        </div>
                        <div>
                            <h5 class="card-title">@prod.product.Name</h5>
                            <p class="card-text">@prod.product.Description</p>
                            <p class="card-text">Category: @prod.category</p>
                            <p class="card-text">Supplier: @prod.supplier</p>
                            <p class="card-text">Quantity: @prod.amount</p>
                            <a asp-controller="Order" asp-action="RemoveFromCart"  asp-route-id="@prod.product.Id" type="button" class="btn btn-primary" style="float: bottom">-</a>
                            <a asp-controller="Order" asp-action="AddQuantity"  asp-route-id="@prod.product.Id" type="button" class="btn btn-primary" style="float: bottom">+</a>
                        </div>
                        <p class="card-text text-center"><strong>aaaaaaaaaaaaa</strong></p>
                    </div>
                </div>
        }
</div>
@* @Html.ActionLink("Checkout","Index", "Payment", new { id = @Model.order.Id}, new { htmlAttributes = new { @class = "btn btn-primary", type="button" , style="float: bottom"} } )
 <a asp-controller="Payment" asp-action="Index"  asp-route-id="@Model.order.Id" type="button" class="btn btn-primary" style="float: bottom">Add To Cart</a>*@
@* total cost
    checkout button
    better design
*@

<h1><strong>Total cost: $@Model.order.total</strong></h1>
<a asp-controller="Payment" asp-action="Index"  asp-route-id="@Model.order.Id" type="button" class="btn btn-primary" style="float: bottom">Payment</a>
