@using Codecool.CodecoolShop.ViewModels
@model Codecool.CodecoolShop.ViewModels.OrderVM;
@{
    ViewData["Title"] = "Order Details";
}


<div>
        @foreach (OrderedProduct prod in Model.products)
        {
                <div class="card">
                    <div class="card-body" style="display: flex">
                        <div>
                            <img src="/img/@(prod.product.Name).jpg" style="height: 300px; width: 300px; padding: 10px">
                        </div>
                        <div>
                            <h5 class="card-title">@prod.product.Name</h5>
                            <p class="card-text">@prod.product.Description</p>
                            <p class="card-text">Category: @prod.category</p>
                            <p class="card-text">Supplier: @prod.supplier</p>
                            <p class="card-text">Quantity: @prod.amount</p>
                            <a asp-controller="Order" asp-action="RemoveFromCart"  asp-route-id="@prod.product.Id" type="button" class="btn btn-primary" style="float: bottom">-</a>
                            <a asp-controller="Order" asp-action="AddQuantity"  asp-route-id="@prod.product.Id" type="button" class="btn btn-primary" style="float: bottom">+</a>
                        </div>
                        <p class="card-text text-center"><strong>@prod.product.DefaultPrice.ToString("C2")</strong></p>
                    </div>
                </div>
        }
</div>


<h1><strong>Total cost: $@Model.order.total</strong></h1>
@if (Model.order.total != 0)
{
 <a asp-controller="Checkout" asp-action="Index" type="button" class="btn btn-primary" style="float: bottom">Checkout</a>    
}
