@{
    ViewData["Title"] = "Home Page";
}
@model List<Codecool.CodecoolShop.ViewModels.ProductVM>


<div style="display: flex">
    <div class="categories">
        <h1>Categories</h1>
        <ul>
            <li><a class="text-dark" asp-area="" asp-controller="Product" asp-action="Index"  asp-route-id="1">Tablets</a></li>
            <li><a class="text-dark" asp-area="" asp-controller="Product" asp-action="Index"  asp-route-id="2">Laptops</a></li>
        </ul>
        
        <h1>Suppliers</h1>
        <ul>
            <li><a class="text-dark" asp-area="" asp-controller="Product" asp-action="SupplierSort"  asp-route-id="1">Amazon</a></li>
            <li><a class="text-dark" asp-area="" asp-controller="Product" asp-action="SupplierSort"  asp-route-id="2">Lenovo</a></li>
            <li><a class="text-dark" asp-area="" asp-controller="Product" asp-action="SupplierSort"  asp-route-id="3">Asus</a></li>
            <li><a class="text-dark" asp-area="" asp-controller="Product" asp-action="SupplierSort"  asp-route-id="4">Apple</a></li>
        </ul>
    </div>
    
    
   
    
    <div class="container">
            @foreach (var element in Model)
            {
                    @*<div  style="display: inline-block; width: 300px; height: 300px">*@
                        <div class="card" style="display: flex">
                            <img src="/img/@(element.product.Name).jpg" style="height: 300px; width: 300px; padding-top: 10px">

                            <div class="card-body">
                    <h5 class="card-title text-center">
                        Product
                        @{ var num = Model.IndexOf(element) + 1;}
                        @num
                    </h5>
                                <h5 class="card-title">@element.product.Name</h5>
                                <p class="card-text">@element.product.Description.</p>
                                <p class="card-text">Category: @element.category.Department</p>
                                <p class="card-text">Supplier: @element.supplier.Name</p>
                                <p class="card-text"><strong>Price: @element.product.DefaultPrice.ToString("C2")</strong></p>
                                <a asp-controller="Order" asp-action="AddToCart"  asp-route-id="@element.product.Id" type="button" class="btn btn-primary" style="float: bottom">Add To Cart</a>
                            </div>
                        </div>
                    @*</div>*@
            }
    </div>
</div>


</div>
